# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/
ENV/
resume_ai/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Operating System
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Logs
# =========================
*.log

# =========================
# Python Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Build
# =========================
build/
dist/
*.egg-info/

# =========================
# Generated Reports
# =========================
reports/*.pdf
reports/*.docx

# Keep folder
!reports/.gitkeep

# =========================
# Uploaded Resumes
# =========================
resumes/*
!resumes/.gitkeep

# =========================
# Temporary Files
# =========================
*.tmp
*.temp

# =========================
# Streamlit Secrets
# =========================
.streamlit/secrets.toml

# =========================
# Dataset
# =========================
data/raw/Resume.csv
